ramdisk/modules/*.ko
ramdisk/modules/autoload/*.ko
ramdisk/modules/autoload/.placeholder
system/lib/modules/*.ko
system/lib/modules/autoload/*.ko
system/lib/modules/autoload/.placeholder
boot.img
*.zip
