ramdisk/modules/*.ko
ramdisk/modules/autoload/*.ko
ramdisk/modules/autoload/.placeholder
system/lib/modules/*.ko
system/lib/modules/autoload/*.ko
system/lib/modules/autoload/.placeholder
boot.img
*.7z
kernel
zimage/*
modules.7z
tmp/cmdline.txt
tmp/new_cmdline.txt
scripts/gen_cmdline_script.sh
*.zip
