#### CM Performance Profiles ####

on boot
    start perf_svc

on property:sys.boot_completed=1
    write /tmp/.boot_completed 1

service perf_svc /ramdisk/perf.sh
    class main
    disabled

on property:sys.perf.profile=0
    write /tmp/.sys.perf.profile 0
    start perf_svc

on property:sys.perf.profile=1
# Balanced
# CPU 400/800Mhz GPU 256/400Mhz
    write /tmp/.sys.perf.profile 1
    start perf_svc

on property:sys.perf.profile=2
# Performance
# CPU 400/1000Mhz GPU 400/500Mhz
    write /tmp/.sys.perf.profile 2
    start perf_svc

#### End CM Performance Profiles ####
